.Code {
  position: relative;
  border: 1px solic var(--primary-color);
  padding: 20px;
  background: var(--code-bg);
  overflow: auto;
}

.copy_btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.copy_icon path {
  stroke: var(--primary-color);
}
